
// Variables globales
$primary-color: #ff5733;
$secondary-color: #3498db;
$regular-font-color: #333;
$background-color: #f5f5f5;

$laptop-size: 1024px;
$tablet-size: 768px;
$mobile-size: 480px;

$text-color: black;

$font-family-base: "Arial", sans-serif;
$font-family-heading: "Georgia", serif;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-large: 20px;

$dark-background: rgb(51, 50, 50);
$dark-text: grey;


$light-background: white;
$light-text: black;



